@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Courier+Prime&display=swap');
$blue: #0084ff;
$blue-darker: darken($blue, 10);
#messageContainer {
  background-color: 'whitesmoke';
}
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: 'Courier Prime', monospace;
}
#receipt {
  font-family:'Alexandria';
}
dialog {
  box-shadow: 3px 3px 15px black;
  font-family: 'Courier Prime', monospace;
}
#blogo {
  display: flex;
  margin: auto;
  justify-self: center;
  width: 75%;
  margin-top: 10%;
}
#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;

  button {
    background: $blue-darker;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    color: #fff;
  }

  &:hover {
    background: $blue-darker;
    color: #fff;
    margin-top: 40px;
    width: 200px;
  }

  &:hover button {
    background: #fff;
    color: #000;
  }
}
.subtotal {
  display: flex;
}
header {
  display: block;
  background: #00498d;
  width: 100vw;
  height: 50px;
  color: white;
  margin: 0;

  align-content: flex;
  justify-content: flex;
  display: flex;
}

h3 {
  font-family: 'Courier Prime', monospace;
}
h1 {
  margin: 5px;
  font-weight: 500;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  display: flex;

  margin-left: 2%;
}
#purchase {
  display: none;
}
.bi {
  margin-top: 5px;
  font-size: 25px;
}
.bi-receipt {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.fa {
  font-weight: 100;
}
li {
  font-family: 'Courier Prime', monospace;
}
#app {
  width: 100vw;
  display: block;
  text-align: center;
  margin: 10% auto;
  overflow: hidden;
}
.left {
  height: 45px;
  margin-top: auto;
  font-size: 25px;
}
.material-icons {
  font-size: 45px;
}
.mdi {
  font-size: 45px;
  font-weight: 10;
  padding: auto;
}
#wm {
  align-self: left;
  justify-self: left;
  display: flex;
  height: 120px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
p {
  margin: 0px;
  font-size: 0.6em;
  line-height: 1.2;
  font-weight: 700;
}
